version: '3'
services:
  ka:
    build:
      context: .
      args:
        ARCH: ${ARCH:-amd64}
    working_dir: /work
    volumes:
      - ./:/work
    command: bash -c "python3 src/convert.py --log INFO --version 2.4.0-rc.1 DocumentDefinitions/*.json"
