version: 2.1
jobs:
  build:
    machine:
      image: ubuntu-2204:2025.09.1
    parallelism: 1
    steps:
      - checkout
      - run: docker compose up
      - store_artifacts:
          path: docs/wip
