@import url("shared.css");

body {
   line-height: 150%;
}

h1 {
    margin-top: 30px;
    color: #2C64AD;
    font-size: 42pt;
    font-weight: bold;
    line-height: 130%;
}

img[title='word-cloud'] {
    width: 95%;
    padding-top: 100px;
}
