@import url("shared.css");
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");

body {
    counter-reset: section;
}

h2::before {
    counter-increment: section;
    content: counter(section) " ";
    color: #2C64AD;
}

h2 {
    line-height: 150%;
    color: #2C64AD;
    font-size: 42pt;
    font-weight: bold;
    page-break-before: always;
    counter-reset: subsection;
}

#bijlagen::before {
    content: "";  /* The Bijlagen section has no counter */
}

h3.bijlage::before {
    counter-increment: subsection;
    content: counter(subsection, upper-latin) " ";
}

h3::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}

h3 {
    margin-top: 20px;
    color: #DB1778;
    font-size: 18pt;
    font-weight: bold;
}

h4 {
    margin-top: 10px;
    color: black;
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: -15px;  /* Remove vertical space between header and next element */
}

h5 {
    font-size: 12pt;
    color: #B500C7;
    margin-bottom: -15px;  /* Remove vertical space between header and next element */
}

h5.risk {
    background-color: #4C76BA;
    color: white;
    padding: 1em;
}

tr {
    page-break-inside: avoid;
}

th,td {
    text-align: left;
    vertical-align: top;
    background-color: #E6F6FD;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10pt;
}

td:not(:empty) {
    background-color: #83D0F5;
    text-align: center;
}

td:nth-child(1) {
    background-color: #E6F6FD !important;
    text-align: left !important;
    font-weight: normal !important;
}

ol {
    list-style-type: none;
    counter-reset: ol-item;
    margin: 0;
    margin-left: 3em;
    padding: 0;
}

ol > li:before {
    content: counters(ol-item, ".") " ";
    margin-left: -3em;
    position: absolute;
}

ol > li {
    counter-increment: ol-item;
    margin: 0;
    margin-top: 0.1em;
}

li > ol {
    color: black;
    font-weight: normal;
    margin-left: 0em;
}

ol.bijlage {
    font-weight: bold;
    margin-top: 0.1em;
}

ul {
    padding-left: 1.2em;
}

ul > li {
    /* Since we can't easily give the bullet a different color than the text, we use a SVG. */
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><circle fill="#4C76BA" cx="5" cy="5" r="3"/></svg>');
    padding-left: 1.7em;
}

.keep-together {
    page-break-inside: avoid;
}

span.label {
    color: #2C64AD;
}