body {
   font-size: 11pt !important;
   color: #000 !important;
   font-family: 'Muli', sans-serif;
   width:700px;
   margin-left: auto;
   margin-right: auto;
   counter-reset: section;
}

h1 {
    margin-top:40px;
    color: #D55FF8;
    font-size:42px;
}

h2::before {
    counter-increment: section;
    content: counter(section) " ";
    color: #2C64AD;
}

h2 {
    line-height: 150%;
    color: #2C64AD;
    font-size:42pt;
    font-weight:bold;
    page-break-before: always;
    counter-reset: subsection;
}

h3::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}

h3 {
    margin-top:20px;
    color: #DB1778;
    font-size:18pt;
    font-weight: bold;
}

h4 {
    margin-top:10px;
    color: black;
    font-size:14pt;
    font-weight: bold;
}

h5 {
    font-size:12pt;
    color: #B500C7;
}

tr {
    page-break-inside: avoid;
}

th,td {
    text-align: left;
    vertical-align: top;
    background-color:#E6F6FD;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10pt;
}

td:not(:empty) {
    background-color:#83D0F5;
    text-align: center;
}

td:nth-child(1) {
    background-color:#E6F6FD !important;
    text-align: left !important;
    font-weight: normal !important;
}

img[title='ictu-logo'] {
    height:80px;
}

img[title='word-cloud'] {
    width:95%;
    padding-top:100px;
}


