body {
    font-size: 12pt !important;
    color: #000 !important;
    font-family: 'Muli', sans-serif;
    width: 680px;
    margin-left: auto;
    margin-right: auto;
}

img[title='ictu-logo'] {
    height: 80px;
}
