body {
    font-size: 12pt !important;
    color: #000 !important;
    font-family: 'Muli', sans-serif;
    width: 680px;
    margin: auto;
}

ul {
    padding-left: 1.2em;
}

ul > li {
    /* Since we can't easily give the bullet a different color than the text, we use a SVG. */
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><circle fill="#4C76BA" cx="5" cy="5" r="3"/></svg>');
    padding-left: 1.7em;
}

