name: Generate Kwaliteitsaanpak

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
    steps:
      - uses: actions/checkout@v6
      - name: Generate artifacts
        run: docker compose up
      - name: Archive artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: docs/wip
