---
name: Test and quality

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.21"
      - name: Install dependencies, run unit tests and check quality
        run: |
          uv venv
          uv sync
          ci/unittest.sh
          ci/quality.sh
